
/*----*****---- << Magnificent Type Styles >> ----*****----*/

    /* Thumb */
    .wdt-magnificent-style.wdt-post-entry .has-post-thumbnail .entry-thumb {display: flex; flex-direction: column; }

    .wdt-magnificent-style.wdt-post-entry .has-post-thumbnail .entry-thumb-detail-group {margin-left: 0;}   

    .wdt-magnificent-style.wdt-post-entry .blog-entry .entry-thumb-group {display: flex;align-items: center;line-height: normal;flex-wrap: wrap;}
    
    .wdt-magnificent-style .entry-thumb-group div {font-size: var(--wdtFontSize_Base);}
    
    .wdt-magnificent-style.wdt-post-entry:not(.entry-cover-layout) .blog-entry > div:not(.entry-thumb), .wdt-magnificent-style.wdt-post-entry:not(.entry-cover-layout) .blog-entry.format-link > div.entry-thumb, .wdt-magnificent-style.wdt-post-entry:not(.entry-cover-layout) .blog-entry.format-quote > div.entry-thumb, .wdt-magnificent-style.wdt-post-entry.entry-cover-layout .blog-entry .entry-details > div:not(.entry-thumb){padding: 0;}
    
    .wdt-magnificent-style.wdt-post-entry.entry-grid-layout .blog-entry:not(.has-post-thumbnail) > div.entry-thumb {margin-bottom: 0;}
    
    .wdt-magnificent-style .blog-entry .entry-thumb img{
        height: 100%; object-fit: cover; border-radius: var(--wdtRadius_3X) var(--wdtRadius_3X) 0 0; 
        -webkit-border-radius: var(--wdtRadius_3X) var(--wdtRadius_3X) 0 0; }

    .wdt-magnificent-style.wdt-post-entry .has-post-thumbnail .entry-thumb-detail-group { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px;
        background-color: rgb(var(--wdtSecondaryColorRgb),1);
        border-radius: 0 0 var(--wdtRadius_3X) var(--wdtRadius_3X);
        -webkit-border-radius: 0 0 var(--wdtRadius_3X) var(--wdtRadius_3X);
    }

    /* .wdt-magnificent-style.wdt-post-entry .has-post-thumbnail .entry-thumb-detail-group .entry-body {
        line-height: var(--wdtLineHeight_Base);
    } */

    .wdt-magnificent-style.wdt-post-entry .blog-entry .entry-title h4 a, .wdt-magnificent-style.wdt-post-entry .blog-entry a:not(.wdt-button){text-decoration: none;}
    .wdt-magnificent-style.wdt-post-entry .blog-entry > div.entry-meta-group:not(:last-child), .wdt-magnificent-style.wdt-post-entry.entry-cover-layout .blog-entry > div.entry-meta-group:not(:last-child), .wdt-magnificent-style.wdt-post-entry.entry-cover-layout .blog-entry .entry-details > div.entry-meta-group:not(:last-child){border: none;}
    .wdt-magnificent-style.wdt-post-entry.aligncenter .blog-entry .entry-thumb-group{justify-content: center;}
    .wdt-magnificent-style.wdt-post-entry.alignright .blog-entry .entry-thumb-group{justify-content: end;}
    .wdt-magnificent-style.wdt-post-entry.alignright .has-post-thumbnail .entry-thumb{direction: rtl;}
    .wdt-magnificent-style.wdt-post-entry.alignright .has-post-thumbnail .entry-thumb .entry-thumb-detail-group{margin-left: 0;margin-right: 15px;}
    .wdt-magnificent-style.wdt-post-entry .blog-entry .entry-thumb-group{direction: initial;}

    /* Title */
    .wdt-magnificent-style.wdt-post-entry .blog-entry .entry-title h4 a{
        color: var(--wdtHeadAltColor);
        text-transform: capitalize;
        font-size: var(--wdtFontSize_H3);}

    .wdt-magnificent-style.wdt-post-entry .blog-entry .entry-title h4 a:hover {color: var(--wdtPrimaryColor);}

    .wdt-magnificent-style.wdt-post-entry .blog-entry .entry-title {margin: 12px 0 18px;}

    .wdt-magnificent-style.wdt-post-entry .blog-entry .entry-body { margin: 0 0 10px; }

    /* Author */
    .wdt-magnificent-style .blog-entry .entry-author {font-size: 20px;line-height: normal;}
    .wdt-magnificent-style .blog-entry .entry-author a {color: var(--wdtPrimaryColor);font-weight:700;position:relative;}
    .wdt-magnificent-style .blog-entry .entry-author a:after {content: '';width: 100%;height: 1px;background: currentColor;position: absolute;left: 0;bottom: 4px;transition: var(--wdtBaseTransition);}
    .wdt-magnificent-style .blog-entry .entry-author a:hover:after{width:0;}
    .wdt-magnificent-style.alignright .blog-entry .entry-author a:after{left: unset;right: 0;}

    /* Date */
    .wdt-magnificent-style .entry-date i {display: none;}

    /* Categories */
    .wdt-magnificent-style.wdt-post-entry .blog-entry div.entry-tags a{font-size: 16px;}
    .wdt-magnificent-style.wdt-post-entry .blog-entry div.entry-categories a{text-decoration: underline;opacity: 0.5;font-weight: 700;}
    .wdt-magnificent-style.wdt-post-entry .blog-entry div.entry-categories a:hover, .wdt-magnificent-style.wdt-post-entry .blog-entry div.entry-tags a:hover{opacity: 1;color: var(--wdtSecondaryColor);}
    .wdt-magnificent-style .entry-categories span{margin-left: 6px;}
    .wdt-magnificent-style .blog-entry .entry-author span,.wdt-magnificent-style .entry-categories span{font-style: italic;}

    /* Tags */
    .wdt-magnificent-style.wdt-post-entry .entry-tags i {display: none;}

    /* Button */
    /* .wdt-posts-list-wrapper .wdt-magnificent-style .blog-entry:hover .entry-button a.wdt-button:after{width: unset;} */

    .wdt-posts-list-wrapper .wdt-magnificent-style .blog-entry .entry-button a.wdt-button{
        color: var(--wdtAccentTxtColor);
        padding: var(--wdtPadding_Btn);
        font-weight: var(--wdtFontWeight_Ext);
        text-transform: capitalize;
        letter-spacing: 0;
        font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);  /* 20 16 */
        background-color: var(--wdtLinkColor);
        line-height: 1;
        position: relative;
        overflow: hidden;
    }

    .wdt-posts-list-wrapper .wdt-magnificent-style .blog-entry .entry-button a.wdt-button:after {
        content: "";
        position: absolute;
        display: inline-block;
    
        height: 100%;
        width: 100%;
    
        bottom: auto;
        right: auto;
        left: 50%;
        top: 50%;
    
        -webkit-border-radius: 50%;
        border-radius: 50%;
    
        pointer-events: none;
    
        transform: translate(-50%, -50%) scale(1.2);
        -webkit-transform: translate(-50%, -50%) scale(1.2);
    
        transition: var(--wdtBaseTransition);
        -webkit-transition: var(--wdtBaseTransition);
    
        padding-top: 100%;
    }
    
    .wdt-posts-list-wrapper .wdt-magnificent-style .blog-entry .entry-button a.wdt-button:hover:after {
        background-color: inherit;
        transform: translate(-50%, -50%) scale(0);
        -webkit-transform: translate(-50%, -50%) scale(0);
    }


    /* .wdt-posts-list-wrapper .wdt-magnificent-style .blog-entry .entry-button a.wdt-button:after{content: '\21AC';font-size: 16px;position: unset;background: transparent;margin-left: 10px;} */
    /* .wdt-posts-list-wrapper .wdt-magnificent-style .blog-entry .entry-button a.wdt-button:before{content:'';width: 100%;height: 1px;top: unset;bottom: 3px;background: currentColor;margin-top: 0;transition: var(--wdtBaseTransition);position: absolute;} */

    .wdt-posts-list-wrapper .wdt-magnificent-style .blog-entry .entry-button a.wdt-button:hover:before {width: 0;}
    .wdt-posts-list-wrapper .wdt-magnificent-style .blog-entry .entry-button a.wdt-button span{display: none;}

    .wdt-magnificent-style.wdt-post-entry .blog-entry .entry-button a.wdt-button:hover{
        background-color: var(--wdtLinkHoverColor);
        color: var(--wdtAccentTxtColor);}

    .wdt-magnificent-style.wdt-post-entry .blog-entry .entry-author a:hover{color: var(--wdtSecondaryColor);}

    .wdt-posts-list-wrapper .wdt-magnificent-style.alignright .blog-entry .entry-button a.wdt-button{direction: rtl;}
    .wdt-posts-list-wrapper .wdt-magnificent-style.alignright .blog-entry .entry-button a.wdt-button:after{content: '\21AB';margin-left: 0;margin-right: 10px;}
    .wdt-posts-list-wrapper .wdt-magnificent-style.alignright .blog-entry .entry-button a.wdt-button:before{right: 0;}

    /* Format */
    .wdt-magnificent-style .blog-entry .entry-format a:before{font-size: 18px;line-height: 30px;}
    .wdt-magnificent-style .blog-entry .entry-format a{width: 30px;height: 30px;}
    .wdt-magnificent-style .blog-entry .entry-format a{border-radius: 10px;}
    
    /* Sticky Post */
    .wdt-magnificent-style.wdt-post-entry .blog-entry .entry-title h4 span.sticky-post > i:first-child,.wdt-magnificent-style.wdt-post-entry .blog-entry .entry-title h4 span.sticky-post{position: unset;}
    .wdt-magnificent-style.wdt-post-entry .blog-entry .entry-title h4 span.sticky-post > i:first-child{color: var(--wdtPrimaryColor);font-size: 20px;}
    .wdt-magnificent-style.wdt-post-entry .blog-entry .entry-title h4 span.sticky-post{background: transparent;float: left; margin-top: clamp(0.1875rem, 0.1rem + 0.4375vw, 0.625rem); margin-right: 4px;}

    .wdt-magnificent-style.wdt-post-entry [class^="wdticon-"]:before, .wdt-magnificent-style.wdt-post-entry [class*=" wdticon-"]:before{margin: 0;}

    /* Meta Group */
    .wdt-magnificent-style.wdt-post-entry .entry-meta-group > div:not(:last-child) {display: inline-block;padding-right: 14px;margin-right: 5px;position: relative;}
    .wdt-magnificent-style.wdt-post-entry .entry-meta-group > div:not(:last-child):after {content: '';position: absolute;width: 5px;height: 2px;background: currentColor;right: 0;top: 14px;opacity: 0.6;}
    .wdt-magnificent-style.wdt-post-entry .entry-meta-group > div:empty {display: none;}
    

    /* dark bg */

    .wdt-dark-bg .wdt-magnificent-style.wdt-post-entry .has-post-thumbnail .entry-thumb-detail-group,
    .wdt-dark-bg .wdt-magnificent-style.wdt-post-entry .blog-entry .entry-title h4 a {
        color: var(--wdtAccentTxtColor);
    }

    /* custom-style */

    /* .wdt-magnificent-style.wdt-post-entry .blog-entry div.entry-date,
    .wdt-magnificent-style.wdt-post-entry .blog-entry .entry-body {
        color: var(--wdtAccentTxtColor);
    } */


    .wdt-posts-list-wrapper .tpl-blog-holder .wdt-magnificent-style.wdt-post-entry .has-post-thumbnail .entry-thumb {
        margin-bottom: 0;
    }

    .wdt-posts-list-wrapper .tpl-blog-holder .wdt-magnificent-style.wdt-post-entry .has-post-thumbnail .entry-thumb > 
    .entry-thumb-image-group ~ .entry-thumb-detail-group,
    .wdt-posts-list-wrapper .tpl-blog-holder .wdt-magnificent-style.wdt-post-entry .has-post-thumbnail .entry-thumb > 
    .entry-thumb-image-group ~ .entry-thumb-detail-group .entry-title h4 a {
        color: var(--wdtAccentTxtColor);
    }

    .wdt-posts-list-wrapper .tpl-blog-holder .wdt-magnificent-style.wdt-post-entry .has-post-thumbnail .entry-thumb > 
    .entry-thumb-image-group ~ .entry-thumb-detail-group .entry-title h4 a:hover {
        color: var(--wdtLinkHoverColor);
    }


    /* custom alignment */

    .wdt-cus-bog-list-alignment .wdt-posts-list-wrapper .tpl-blog-holder > div.wdt-magnificent-style.wdt-post-entry:nth-child(2n+3) .has-post-thumbnail .entry-thumb-detail-group,
    
    .elementor-widget-wdt-blog-posts .wdt-posts-list-wrapper .tpl-blog-holder > div.wdt-magnificent-style.wdt-post-entry:nth-child(2n+3) .has-post-thumbnail .entry-thumb-detail-group {
        background-color: rgb(var(--wdtQuaternaryColorRgb),1);
    }

    .wdt-cus-bog-list-alignment .wdt-posts-list-wrapper .tpl-blog-holder > div.wdt-magnificent-style.wdt-post-entry:nth-child(3n+4) .has-post-thumbnail .entry-thumb-detail-group,
    
    .elementor-widget-wdt-blog-posts .wdt-posts-list-wrapper .tpl-blog-holder > div.wdt-magnificent-style.wdt-post-entry:nth-child(3n+4) .has-post-thumbnail .entry-thumb-detail-group {
        background-color: rgb(var(--wdtSecondaryColorRgb),1);
    }

    .wdt-cus-bog-list-alignment .wdt-posts-list-wrapper .tpl-blog-holder > div.wdt-magnificent-style.wdt-post-entry:nth-child(4n+2) .has-post-thumbnail .entry-thumb-detail-group,
    
    .elementor-widget-wdt-blog-posts .wdt-posts-list-wrapper .tpl-blog-holder > div.wdt-magnificent-style.wdt-post-entry:nth-child(4n+2) .has-post-thumbnail .entry-thumb-detail-group{
        background-color: var(--wdtTertiaryColor);
    }



    
/*--------------------------------------------------------------
    Responsive
--------------------------------------------------------------*/

    @media (max-width:1540px) {
        .wdt-magnificent-style.wdt-post-entry .has-post-thumbnail .entry-thumb-detail-group {
            padding: 40px 30px;
        }
        .entry-list-layout.wdt-magnificent-style.wdt-post-entry .has-post-thumbnail .entry-thumb-detail-group {
            padding: 30px 40px;
        }
    }

    @media (min-width:1025px) {
        .wdt-cus-bog-list-alignment .wdt-posts-list-wrapper .tpl-blog-holder > div.wdt-magnificent-style.wdt-post-entry:nth-child(3n+3) .has-post-thumbnail .entry-thumb,
        
        .elementor-widget-wdt-blog-posts .wdt-posts-list-wrapper .tpl-blog-holder > div.wdt-magnificent-style.wdt-post-entry:nth-child(3n+3) .has-post-thumbnail .entry-thumb {
            flex-direction: column-reverse;
        }

        .wdt-cus-bog-list-alignment .wdt-posts-list-wrapper .tpl-blog-holder > div.wdt-magnificent-style:not(.entry-list-layout).wdt-post-entry:nth-child(3n+3) .has-post-thumbnail .entry-thumb-detail-group,
        
        .elementor-widget-wdt-blog-posts .wdt-posts-list-wrapper .tpl-blog-holder > div.wdt-magnificent-style:not(.entry-list-layout).wdt-post-entry:nth-child(3n+3) .has-post-thumbnail .entry-thumb-detail-group {
            border-radius: var(--wdtRadius_3X) var(--wdtRadius_3X) 0 0;
            -webkit-border-radius: var(--wdtRadius_3X) var(--wdtRadius_3X) 0 0;
        }

        .wdt-cus-bog-list-alignment .wdt-posts-list-wrapper .tpl-blog-holder > div.wdt-magnificent-style:not(.entry-list-layout):nth-child(3n+3) .blog-entry .entry-thumb img,
        
        .elementor-widget-wdt-blog-posts .wdt-posts-list-wrapper .tpl-blog-holder > div.wdt-magnificent-style:not(.entry-list-layout):nth-child(3n+3) .blog-entry .entry-thumb img {
            border-radius: 0 0 var(--wdtRadius_3X) var(--wdtRadius_3X);
            -webkit-border-radius: 0 0 var(--wdtRadius_3X) var(--wdtRadius_3X);
        }


        .wdt-cus-bog-list-alignment .wdt-magnificent-style.wdt-post-entry .has-post-thumbnail .entry-thumb > div,
        .elementor-widget-wdt-blog-posts .wdt-magnificent-style.wdt-post-entry .has-post-thumbnail .entry-thumb > div,
        .elementor-widget-wdt-blog-posts .wdt-magnificent-style.wdt-post-entry .has-post-thumbnail .entry-thumb > div img {
            height: 100%;
            min-height: 360px;
        }
    }

    @media (max-width:1024px) {
        .wdt-magnificent-style.wdt-post-entry .has-post-thumbnail .entry-thumb-detail-group {
            padding: 30px;
        }
    }

    /*----*****---- << Mobile - Portrait >> ----*****----*/

    /* Common Styles for the devices below 479px width */

    @media only screen and (max-width: 479px) {
        .wdt-magnificent-style.wdt-post-entry .blog-entry .entry-title h4 a{font-size: calc(var(--wdtFontSize_H3) * 0.7);}

        .wdt-magnificent-style.wdt-post-entry .has-post-thumbnail .entry-thumb-detail-group {
            padding: 30px 20px;
        }
    }