/*--------------------------------------------------------------
    Loader
--------------------------------------------------------------*/

.pre-loader {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999991;
    background-color: #fff;
}


/* ------------------------
    Ice Cube Pre Loader
    --------------------------- */

.pre-loader .wdt-pre-loader-container {
    height: 300px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.pre-loader .wdt-pre-loader-container .wdt-pre-loader-ice-cube {
    position: relative;
    display: block;
    overflow: hidden;
    height: 200px;
    width: 140px;
    margin: 0 auto;
    border-radius: 0 60px 10px 10px;
    -webkit-border-radius: 0 60px 10px 10px;
    animation: wdt-cus-pre-loader-ice-cube-floating 1s ease-in infinite alternate;
    -webkit-animation: wdt-cus-pre-loader-ice-cube-floating 1s ease-in infinite alternate;
}

.pre-loader .wdt-pre-loader-container .wdt-pre-loader-ice-cube:after {
    content: "";
    display: block;
    height: 130%;
    width: 150%;
    position: absolute;
    left: -20%;
    top: -10%;
    background-image: linear-gradient(0deg, var(--wdtSecondaryColor) 25%, var(--wdtLinkHoverColor) 25%, var(--wdtLinkHoverColor) 50%, var(--wdtTertiaryColor) 50%, var(--wdtTertiaryColor) 75%, var(--wdtLinkColor) 75%);
    background-size: 100% 210px;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    animation: wdt-cus-pre-loader-ice-cube-animation 3s linear infinite;
    -webkit-animation: wdt-cus-pre-loader-ice-cube-animation 3s linear infinite;
    backface-visibility: hidden;
}

.pre-loader .wdt-pre-loader-container .wdt-pre-loader-ice-cube:before {
    content: "";
    position: absolute;
    width: 6em;
    height: 3em;
    top: 0;
    left: -1.5em;
    background: #ffffff;
    z-index: 1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.pre-loader .wdt-pre-loader-container .wdt-pre-loader-ice-cube-stick {
    display: block;
    position: relative;
    width: 36px;
    height: 80px;
    margin: 0 auto;
    top: -2px;
    background: rgb(224, 156, 95);
    border-radius: 0 0 20px 20px;
    animation: wdt-cus-pre-loader-ice-cube-floating 1s ease-in infinite alternate;
    -webkit-animation: wdt-cus-pre-loader-ice-cube-floating 1s ease-in infinite alternate;
    z-index: -1;
}

.pre-loader .wdt-pre-loader-container .wdt-pre-loader-ice-cube-shadow {
    display: block;
    width: 124px;
    height: 35px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 60px / 22px;
    -webkit-border-radius: 60px / 22px;
    margin: 0 auto;
    transform: scaleY(0.9) translateY(40px);
    -webkit-transform: scaleY(0.9) translateY(40px);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    animation: wdt-cus-preloader-ice-cube-shadow-animation 1s ease-in infinite alternate;
    -webkit-animation: wdt-cus-preloader-ice-cube-shadow-animation 1s ease-in infinite alternate;
}

@keyframes wdt-cus-pre-loader-ice-cube-floating {
    from {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
    }

    to {
        transform: translateY(30px);
        -webkit-transform: translateY(30px);
    }
}

@-webkit-keyframes wdt-cus-pre-loader-ice-cube-floating {
    from {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
    }

    to {
        transform: translateY(30px);
        -webkit-transform: translateY(30px);
    }
}


@keyframes wdt-cus-preloader-ice-cube-shadow-animation {
    from {
        transform: scaleX(1) scaleY(1) translateY(0px);
        -webkit-transform: scaleX(1) scaleY(1) translateY(0px);
    }

    to {
        transform: scaleX(0.9) scaleY(0.7) translateY(40px);
        -webkit-transform: scaleX(0.9) scaleY(0.7) translateY(40px);
    }
}

@-webkit-keyframes wdt-cus-preloader-ice-cube-shadow-animation {
    from {
        transform: scaleX(1) scaleY(1) translateY(0px);
        -webkit-transform: scaleX(1) scaleY(1) translateY(0px);
    }

    to {
        transform: scaleX(0.9) scaleY(0.7) translateY(40px);
        -webkit-transform: scaleX(0.9) scaleY(0.7) translateY(40px);
    }
}



@keyframes wdt-cus-pre-loader-ice-cube-animation {
    from {
        background-position: 0 0px;
    }

    to {
        background-position: 0 210px;
    }
}

@-webkit-keyframes wdt-cus-pre-loader-ice-cube-animation {
    from {
        background-position: 0 0px;
    }

    to {
        background-position: 0 210px;
    }
}