/***<<--- Mailchimp Transition --->>***/

.wdt-mailchimp-holder .wdt-mailchimp-wrapper,
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form > *,
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type='submit'],
.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form:after
{
    -webkit-transition: var(--wdt-elementor-base-transition);
            transition: var(--wdt-elementor-base-transition);
}

/***<<--- Mailchimp Common --->>***/

.wdt-mailchimp-holder
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper
{
    display: inline-flex;
    flex-wrap: wrap;

    width: 100%;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form
{
    display: inline-flex;
    flex-wrap: wrap;

    width: 100%;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form > *:not(:last-child)
{
    margin-bottom: 20px;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-title,
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subtitle,
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-description
{
    line-height: 1;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-title
{
    font-size: 2em;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subtitle
{
    font-size: 1.5em;

    letter-spacing: .05em;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type='text'],
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type='email']
{
    font-size: var(--wdtFontSize_Base);
    font-weight: var(--wdtFontWeight_Ext);
    line-height: 1;

    width: 100%;
    padding: var(--wdtInputPadding);

    border: 1px solid;
    border-radius: inherit;

    background-color: var(--wdtAccentTxtColor);
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input,
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input:focus-visible
{
    outline: none;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type='submit']
{
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem); /* 20 -16 */
    line-height: 1;
    font-weight: var(--wdtFontWeight_Ext);

    position: relative;
    overflow: hidden;

    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;

    height: 100%;
    margin-top: 0;
    padding: var(--wdtPadding_Btn);

    text-align: center;

    color: var(--wdt-elementor-color-white);
    border: 1px solid transparent;
    -webkit-border-radius: var(--wdtRadius_3X);
            border-radius: var(--wdtRadius_3X);
    outline: none;
    background-color: var(--wdtPrimaryColor);

    fill: var(--wdt-elementor-color-white);
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type='submit']:after {
    content: "";
    position: absolute;
    display: inline-block;

    height: 100%;
    width: 100%;

    bottom: auto;
    right: auto;
    left: 50%;
    top: 50%;

    -webkit-border-radius: 50%;
    border-radius: 50%;

    pointer-events: none;

    transform: translate(-50%, -50%) scale(1.2);
    -webkit-transform: translate(-50%, -50%) scale(1.2);

    transition: var(--wdtBaseTransition);
    -webkit-transition: var(--wdtBaseTransition);

    padding-top: 100%;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type='submit']:hover:after {
    background-color: inherit;
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type='submit'] > *:last-child
{
    margin: 0 0 0 10px;
}
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type='submit'] > *:only-child
{
    margin: 0;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form.with-btn-icon .wdt-mailchimp-subscription-button-holder button
{
    padding: 1em;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type='submit'] i
{
    font-size: inherit;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input:not(:last-child)
{
    margin: 0 0 20px;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form button[type='submit']:before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    visibility: hidden;

    width: 25px;
    height: 25px;
    margin: auto;

    content: '';
    -webkit-animation: jet-spinner .6s linear infinite;
            animation: jet-spinner .6s linear infinite;

    border: 3px solid #e1e1e1;
    border-top-color: #000000;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}

@-webkit-keyframes jet-spinner
{
    to
    {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@keyframes jet-spinner
{
    to
    {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form button[type='submit'].loading:before
{
    visibility: visible;
}
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form button[type='submit'].loading > *
{
    visibility: hidden;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscription-msg
{
    position: relative;

    display: flex;
    align-items: center;

    width: 100%;
    margin: 20px 0 0;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-title:empty,
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subtitle:empty,
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-description:empty,
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscription-msg:empty
{
    display: none;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscription-msg .wdt-mailchimp-subscription-msg-inner
{
    line-height: var(--wdtLineHeight_Base);

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    padding: 20px 25px;

    border-radius: var(--wdtRadius_2X);
    -webkit-border-radius: var(--wdtRadius_2X);
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscription-msg .success
{
    color: #5cb85c;
    background-color: #d9efd9;
}
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscription-msg .error
{
    color: #d9534f;
    background-color: #ffcac9;
}

/* Type 2 */

.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper
{
    display: flex;
    -webkit-box-align: start;
    align-items: center;
    -ms-flex-align: start;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;

    width: 100%;
}

.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form
{
    position: relative;
    z-index: 1;

    display: flex;
    flex-wrap: nowrap;

    width: 100%;
    margin: 0;
    padding: 15px 35px;

    border-radius: 50px;
}

.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form:before
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;

    content: '';

    opacity: .25;
    border-radius: inherit;
}

.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input
{
    line-height: 1;

    margin: 0;
    padding: 0;

    border: none;
    outline: none;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type='email']
{
    padding-right: 25px;
}

.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder
{
    width: auto;
}

.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type='submit']
{
    flex-wrap: nowrap;

    padding: 15px 0 15px 25px;

    letter-spacing: .9px;
    text-transform: uppercase;

    border-left-width: 1px;
    border-left-style: solid;
    border-radius: 0;
}

.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type='submit']
{
    color: inherit;
    border-left-color: #e1e1e1;
    background: transparent;
}

.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type='submit']:hover
{
    color: var(--wdt-elementor-color-primary);
    background-color: transparent;
}

/* Type 3 */

.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper
{
    display: flex;
    -webkit-box-align: start;
    align-items: center;
    -ms-flex-align: start;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form
{
    position: relative;

    display: flex;

    width: 100%;
    margin: 0;
}

.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form:hover:before
{
    width: 100%;
}

.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input
{
    margin: 0;

    outline: none;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form.with-btn-text input
{
    padding-right: 6em;
}
.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form.with-btn-icon input
{
    padding-right: 3em;
}
.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form.with-btn-icon-and-text input
{
    padding-right: 8em;
}

.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;

    display: inline-flex;
    align-items: center;

    margin: auto;
}

.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form.with-btn-icon .wdt-mailchimp-subscription-button-holder button
{
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    padding: 0;
}

/* Type 4 */

.wdt-mailchimp-holder.wdt-template-type4 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type='text'],
.wdt-mailchimp-holder.wdt-template-type4 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type='email']
{
    padding-right: 0;
    padding-left: 0;

    border-width: 0 0 1px;
    border-style: solid;
}

/* Type 5 */

.wdt-mailchimp-holder.wdt-template-type5 .wdt-mailchimp-wrapper
{
    display: flex;
    -webkit-box-align: start;
    align-items: center;
    -ms-flex-align: start;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.wdt-mailchimp-holder.wdt-template-type5 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form
{
    position: relative;

    display: flex;

    width: 100%;
    margin: 0;

    border-radius: 50px;
}

.wdt-mailchimp-holder.wdt-template-type5 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form:hover:before
{
    width: 100%;
}

.wdt-mailchimp-holder.wdt-template-type5 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input
{
    margin: 0;

    outline: none;
    background: var(--wdtAccentTxtColor);
    -webkit-box-shadow: none;
            box-shadow: none;
}

.wdt-mailchimp-holder.wdt-template-type5 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form.with-btn-text input
{
    padding-right: 8em;
}
.wdt-mailchimp-holder.wdt-template-type5 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form.with-btn-icon input
{
    padding-right: 4em;
}
.wdt-mailchimp-holder.wdt-template-type5 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form.with-btn-icon-and-text input
{
    padding-right: 10em;
}

.wdt-mailchimp-holder.wdt-template-type5 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    margin: 5px 6px;

    align-items: center;

    /* border-radius: 50px; */
}

.wdt-mailchimp-holder.wdt-template-type5 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form.with-btn-icon .wdt-mailchimp-subscription-button-holder button
{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 40px;
    padding: 0;
    border-radius: var(--wdtRadius_Part);
    -webkit-border-radius: var(--wdtRadius_Part);
    font-size: 26px;
}

/* Type 6 */

.wdt-mailchimp-holder.wdt-template-type6 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form
{
    flex-wrap: nowrap;
}
.wdt-mailchimp-holder.wdt-template-type6 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input
{
    margin: 0 0 0 0;
}

.wdt-mailchimp-holder.wdt-template-type6 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type='submit']
{
    flex-wrap: nowrap;
    border-radius: var(--wdtRadius_Part);
    -webkit-border-radius: var(--wdtRadius_Part);
}

.wdt-mailchimp-holder.wdt-template-type6 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type='text'],
.wdt-mailchimp-holder.wdt-template-type6 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type='email'] {
    border-radius: var(--wdtRadius_Part);
    -webkit-border-radius: var(--wdtRadius_Part);
}


/* check box */

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    width: 18px;
    height: 18px;
    border: 1px solid var(--wdtBodyTxtColor);
    border-radius: var(--wdtRadius_2X);
    -webkit-border-radius: var(--wdtRadius_2X);
    margin: 0;
    padding: 0 !important;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    top: -1px;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type="checkbox"]:focus,
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type="checkbox"]:checked {
    border-color: var(--wdtLinkHoverColor);
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 12px;
    height: 6px;
    border-left: 2px solid var(--wdtLinkHoverColor);
    border-bottom: 2px solid var(--wdtLinkHoverColor);
    top:-2px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(0px) rotate(-45deg) scale(1.5);
    -webkit-transform: translateY(0px) rotate(-45deg) scale(1.5);
    opacity: 0;
    transition: var(--wdtAltTransition);
    -webkit-transition: var(--wdtAltTransition);
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type="checkbox"]:checked:before {
    opacity: 1;
    transform: translateY(0px) rotate(-45deg);
    -webkit-transform: translateY(0px) rotate(-45deg);
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form 
.wdt-mailchimp-subscription-button-holder ~ div {
    margin-top: 10px;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form > div span.wdt-terms-condition-lbl {
    margin-left: 4px;
    font-size: var(--wdtFontSize_Ext);
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form > div a {
    font-size: var(--wdtFontSize_Ext);
}



/* Default Colors */

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type='text'],
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type='email']
{
    border-color: #e1e1e1;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input:focus
{
    border-color: var(--wdtSecondaryColor);
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type='submit']:hover
{
    background-color: var(--wdtLinkHoverColor);
}

.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form:before
{
    background-color: #e1e1e1;
}

.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form button[type='submit'],
.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form button[type='submit']:hover
{
    background-color: transparent;
}

.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form button[type='submit']
{
    color: inherit;
}
.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form button[type='submit']:hover
{
    color: var(--wdt-elementor-color-primary);
}

/*--------------------------------------------------------------
    Responsive
--------------------------------------------------------------*/

/*----*****---- << Mobile (Landscape) >> ----*****----*/

/* Common Styles for the devices below 767px width */
@media only screen and (max-width: 767px)
{
    .wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form
    {
        padding: 10px 25px;
    }
    .wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type='email']
    {
        padding-right: 10px;
    }
    .wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form button[type='submit']
    {
        padding: 10px 0 10px 15px;
    }

    .wdt-mailchimp-holder.wdt-template-type6 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form
    {
        flex-wrap: wrap;
    }
    .wdt-mailchimp-holder.wdt-template-type6 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input
    {
        margin: 0 0 10px 0;
    }
}
